@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.heading{
    text-align: center;
    padding: 15px;
}

.container {
    max-width: fit-content;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    column-gap: 16px;
    row-gap: 16px;
}

.teacher-profile {
  height: 364px;
  width: 200px;
  background: #f9fbfb;
  font-size: 15px;
  box-shadow: 0px 1px #ddd;
  padding: 5px 0px;
  overflow: hidden;
  text-wrap: nowrap;
}

.overlay{
    height: 207px;
    width: 200px;
    margin-bottom: 10px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.teacher-img {
    height: 100%;
    width: 100%;
    cursor: pointer;
    transition: 0.3s;
    box-sizing: border-box;

  }

  .teacher-img:hover{
    transform: scale(1.1);
  }

  .inner-overlay{
    position: absolute;
    bottom: 0;
    height: 7px;
    width: 100%;
    background-color: #96dc57;
  }

.teacher-name,
.designation,
.email {
  margin-bottom: 10px;
  padding: 0px 0px;
}

.designation{
    color: #888b88;
}

.email a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.button {
  width: 100%;
  background: #51b34e;
  color: #fff;
  font-size: 15px;
  border: none;
  outline: none;
  padding: 10px 0;
  cursor: pointer;
  transition: .3s;
}

.button:hover{
    background: darkgreen;
}

footer{
    padding: 10px;
    text-align: center;
}
